.answer {
    border: solid yellow 10px;
    margin-bottom: 4px;
    position: relative;
    word-break: break-all;
    background-color: white;
}

.liked-answer {
    border: solid red 10px;
    margin-bottom: 4px;
    position: relative;
}




.won-answer .text {
    color: gold;
}

.answer .question-img {
    width: 100%;
}

.answer .text {
    margin-bottom: 20px;
    margin-top: 10px;
}

.answer .like-btn {
    background-color: white;
    width: 10%;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.answer .vote-btn {
    background-color: white;
    width: 10%;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.answer .delete-btn {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.answer .info {
    margin: 0;
    width: 80%;
}

.answer .answer-footer p {
    margin: 0;
}

.answer .question-text {
    margin: 0;
    color: black;
}

.answer .like-user-names {
    width: 80%;
}

.answer .vote-user-names {
    width: 80%;
}

.answer .user-names-title {
    margin: 0;
}

.answer .vote-msg {
    color: red;
    margin: 0;
}


.big{
    height: 500px;
    color: red;
    top: 20;
    z-index: 2;
}


.answer .on {
    display: block;
}

