.footer img { 
    width:30px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color:yellow;
    z-index: 1;
    width: 100%;
}

.title {
    width: 84%;
    z-index: 1;
    margin: 0;
}

.title h2 {
    margin: 0;
}

.content {
    margin-top: 120px;
}

.on {
    display: block;
}