
.footer img { 
    width:30px;
}

.header {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    margin: auto;
    background-color:yellow;
    z-index: 1;
    width: 100%;
}

.title {
    width: 84%;
    z-index: 1;
    margin: 0;
}

.title h3 {
    margin: 0;
    word-break: break-all;
}

.content {
    margin-top: 120px;
}

button {
    background-color: black;
    color: aliceblue;
}

.btns {
    margin-bottom: 10px;
}

#logined-user-cnt {
    margin-top: 0;
    margin-bottom: 0;
}

.on {
    display: block;
}

.off {
    display: none;
}

/* デザインB（タブレット） */
@media screen and (min-width: 600px) {
    body {
        position: relative;
    }

    #container {
        width: 375px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .header {
        width: 375px;
    }
}


/* デザインC(PC) */
@media screen and (min-width: 1025px) {
    body {
        position: relative;
    }

    #container {
        width: 375px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .header {
        width: 375px;
    }
}