
.footer img { 
    width:30px;
}

.header {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    margin: auto;
    background-color:yellow;
    z-index: 1;
    width: 100%;
}

.title {
    width: 84%;
    z-index: 1;
    margin: 0;
}

.title h3 {
    margin: 0;
    word-break: break-all;
}

.content {
    margin-top: 120px;
}

button {
    background-color: black;
    color: aliceblue;
}

.btns {
    margin-bottom: 10px;
}

#logined-user-cnt {
    margin-top: 0;
    margin-bottom: 0;
}

.on {
    display: block;
}

.off {
    display: none;
}

#big-item-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#big-item {
    width: 340px;
    border: solid yellow 15px;
    height: 600px;
    position: relative;
    background-image: url('/images/icon/frenchfry.png');
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}

#big-item .close {
    font-size: 20px;
}

#big-item .question-text {
    margin-bottom: 100px;
    display: inline-block;
    font-size: 19px;
}

#big-item .text-container {
    text-align: center;
}

#big-item .text {
    font-size: 25px;


}

#big-item p {
    margin: 0;
}

#big-item .answer-footer {
    
    position: absolute;
    bottom: 0;
}

#big-item a {
    color: black;
}

/* デザインB（タブレット） */
@media screen and (min-width: 600px) {
    body {
        position: relative;
    }

    #container {
        width: 375px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .header {
        width: 375px;
    }
}


/* デザインC(PC) */
@media screen and (min-width: 1025px) {
    body {
        position: relative;
    }

    #container {
        width: 375px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .header {
        width: 375px;
    }
}