.menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: white;
    background-color: black;
}
.menu a {
    color: white;
}

.menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: black;
    color: white;
    height: 40px;
    padding: 0;
    margin: 0;
    width: 16%;

}

.on {
    display: block;
}

