.notice {
    border: solid gray 10px;
    margin-bottom: 4px;
    word-break: break-all;
    position: relative;

}

.notice p {
    margin: 0;
}

.notice .text {
    color: black;
}

.answer-like-notice .text {
    text-decoration: none;
}

.notice img {
    width: 10%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.text-container {
    margin-left: 10%;
}