.question {
    border: solid black 10px;
    margin-bottom: 4px;
    position: relative;
    word-break: break-all;

}

.liked-question {
    border: solid brown 10px;
    margin-bottom: 4px;
    position: relative;
}

.question .text {
    margin-bottom: 16px;
    margin-top: 10px;
    color: black;

}

.question .like-btn {
    background-color: white;
    width: 10%;
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.question .info {
    margin: 0;
    width: 80%;
}

.question .question-footer p {
    margin: 0;
}

.question .question-img {
    width: 100%;
}

.question .like-user-names {
    width: 80%;
    display: none;
}

.question .on {
    display: block;
}
